@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! </h1>
    <p>This is a CRUD app, using SQL Server as a server and built using MVC and ASP.Net </p>
    <p>By Connor FitzGerald</p>
</div>
